md-card.sign-in{
  width: 50%;
  margin: 0 auto;
  padding: 0;

  md-card-content {
    padding: 20px;
  }
}

form.sign-in {
  md-input, button {
    width: 100%;
  }
  .bottom-form-text {
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
  }
}
