<md-card class="sign-in">
  <md-toolbar color="primary">Sign In</md-toolbar>
  <md-card-content>
    <form class="sign-in">
      <md-input placeholder="User name"></md-input>
      <md-input type="password" minlength="6" placeholder="Password"></md-input>
      <button md-raised-button color="primary">Sign In</button>
      <p class="bottom-form-text">
        Do you don't have account?
        Please <a [routerLink]="['/sign-up']">Sign Up</a>
      </p>
    </form>
  </md-card-content>
</md-card>

