<md-card class="sign-in">
  <md-toolbar color="primary">Sign In</md-toolbar>
  <md-card-content>
    <form [formGroup]="signInForm" class="sign-in" (ngSubmit)="signIn(signInForm)">
      <md-input formControlName="email" placeholder="Email">
        <md-hint *ngIf="signInForm.hasError('required','email') && formSubmitted"
                 [ngStyle]="{'color': 'red'}"
                 align="start">Username is required</md-hint>
      </md-input>
      <md-input type="password" formControlName="password" placeholder="Password">
        <md-hint *ngIf="signInForm.hasError('required','password') && formSubmitted"
                 [ngStyle]="{'color': 'red'}"
                 align="start">Password is required</md-hint>
      </md-input>
      <button md-raised-button color="primary">Sign In</button>
      <p class="bottom-form-text">
        Do you don't have account?
        Please <a [routerLink]="['/sign-up']">Sign Up</a>
      </p>
    </form>
  </md-card-content>
</md-card>

