<div class="flex-container">
  <section class="container">
    <h2>My forms</h2>
    <md-card class="form" *ngFor="let form of forms">
      <md-card-title>
        {{form.name}}
      </md-card-title>
      <p class="form-description">{{form.description}}</p>

      <md-card-actions align="end">
        <button md-raised-button color="primary" [routerLink]="['/forms', form.id]">Show Form</button>
        <button md-raised-button color="warn" (click)="removeForm(form)" >Remove Form<md-icon>close</md-icon></button>
      </md-card-actions>
    </md-card>
  </section>
</div>
<span class="bottom-fixed-button">
   <button md-fab [routerLink]="['/forms/new']"><md-icon>add</md-icon></button>
</span>
