<div [ngSwitch]="type">
  <md-input *ngSwitchCase="'Short Answer'" class="input-block" disabled [value]="type"></md-input>
  <md-input *ngSwitchCase="'Paragraph'" class="input-block" disabled [value]="type"></md-input>

  <div *ngSwitchCase="'One from list'" class="radio-wrapper">
    <md-radio-group disabled>
      <md-radio-button *ngFor="let option of options; let i = index" aria-disabled="true">
        <md-input floatingPlaceholder="false"
                  placeholder="Option {{i+1}}"
                  [(ngModel)]="option.text"
                  (keyup.enter)="addOption()"></md-input>
      </md-radio-button>
    </md-radio-group>
    <button md-button color="primary" (click)="addOption()">Add option</button>
  </div>

  <div *ngSwitchCase="'Checkboxes'" class="checkbox-wrapper">
    <md-checkbox *ngFor="let option of options; let i = index">
      <input type="text" [surveyFocus]>
      <md-input floatingPlaceholder="false"
                placeholder="Option {{i+1}}"
                [(ngModel)]="option.text"
                (keyup.enter)="addOption()"></md-input>
    </md-checkbox>
    <button md-button color="primary" (click)="addOption()">Add option</button>
  </div>

  <div *ngSwitchCase="'Select box'" class="select-wrapper">
    <ol>
      <li *ngFor="let option of options; let i = index">
        <md-input floatingPlaceholder="false"
                  placeholder="Option {{i+1}}"
                  [(ngModel)]="option.text"
                  (keyup.enter)="addOption()"></md-input>
      </li>
    </ol>
    <button md-button color="primary" (click)="addOption()">Add option</button>
  </div>

  <div *ngSwitchCase="'Date'" class="date-time">
    <md-input placeholder="DD.MM.YYYY" disabled></md-input>
    <md-icon>insert_invitation</md-icon>
  </div>

  <div *ngSwitchCase="'Time'" class="date-time">
    <md-input placeholder="Time" disabled></md-input>
    <md-icon>access_time</md-icon>
  </div>

</div>
