/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.md-button-wrapper > * {
  vertical-align: middle;
}

md-input.input-block {
  display: block;
  width: 100%;
}

section.container {
  width: 70%;
}

.bottom-fixed-button {
  display: inline-block;
  position: fixed;
  bottom: 36px;
  right: 20px;
  button {
    color: white;
  }
}

.flex-container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

@media(max-width: 750px) {
  section.container {
    width: 95%;
  }
}
