md-card.question {
  .question-text {
    width: 72%;
  }
  .question-type {
    width: calc(99% - 72%);
  }

  +md-card.question {
    margin-top: 10px;
  }
}

.submit-button {
  margin-top: 10px;
  button[type='submit'] {
    width: 100%;
  }
}
